.home{
    width: 100%;
    background-color: #f3f3f3;
    height: 100vh;
}
.title{
    width: 50%;
    margin: auto;
    justify-content: space-around;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}