.filter-item {
    display: flex;
    font-size: 1rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
    border-radius: 3rem;
    background-color: #ee99c2;    
}
.fil-del {
    border: 0px;
    background-color: #ee99c2;
}
