.new {
    display: flex;
    background-color: #ffe3ca;
    color: #0c359e;
    font-size: 1rem;
    padding: 0.9rem;
    border: 0px;
}
.clip {
    display: flex;
    margin: 0 auto;
    size: 2rem;
    border-color: "grey";
}
